@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../Fonts/Shrikhand-Regular.ttf");
  font-style: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url("../Fonts/Roboto-Medium.ttf");
  font-style: normal; }

body {
  font-family: "Roboto-Medium";
  padding: 0;
  margin: 0;
  font-size: 1rem;
  background-color: #fffefe; }

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%; }

.grey {
  background-color: #f6f6f6; }

.pg-header, .pg-main, .pg-footer {
  width: 100%; }

.wrapper {
  width: 100%; }

.img-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

header, footer, section {
  max-width: 600px;
  margin: auto; }

.btn {
  color: white;
  border: 0;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px; }
  .btn span {
    padding-left: 1.7em;
    padding-right: 1.7em;
    font-size: 1.2rem;
    margin: 0; }

ul {
  list-style-type: none;
  padding: 0; }
  ul li {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 0.8em;
    margin-bottom: 1.5em;
    border-radius: 25px; }
    ul li.highlighted {
      background-color: rgba(147, 86, 220, 0.1); }
      ul li.highlighted i {
        color: #9356dc; }
    ul li .number {
      margin-left: -0.9em;
      background-color: #9356dc;
      color: white;
      border-radius: 100px;
      padding-top: 0.3em;
      padding-bottom: 0.1em;
      padding-left: 0.5em;
      padding-right: 0.5em; }
    ul li i {
      margin-left: 1.2em;
      margin-right: 1.2em;
      color: gray;
      font-size: 1.4rem; }
    ul li .text {
      font-size: 1rem; }

.pg-footer {
  background-color: #353535; }

footer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2em;
  padding-right: 2em; }
  footer h4 {
    font-family: "Shrikhand-Regular";
    font-size: 1.2rem;
    letter-spacing: 1px; }
  footer a {
    margin-bottom: 1em; }
    footer a i {
      position: absolute; }
    footer a .has-icon {
      margin-left: 2em; }

header {
  margin-top: 1em;
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  header button {
    position: absolute;
    border: 0;
    font-size: 1.3em;
    margin-top: 0.25em;
    margin-left: 1em;
    background-color: #fffefe;
    color: black; }
  header .logo {
    margin-left: auto;
    margin-right: auto; }
    header .logo img {
      width: 13em; }

section {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  section h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.6rem; }

.cards-container {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .cards-container .card {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    margin-bottom: 1em;
    border-radius: 20px;
    position: relative; }
    .cards-container .card .new {
      position: absolute;
      top: 1em;
      right: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      border-radius: 2px;
      font-size: 0.9rem;
      background-color: #99e2d0;
      color: #278870; }
    .cards-container .card img {
      border-radius: 20px 20px 0px 0px;
      height: 12em;
      width: 100%; }
    .cards-container .card div {
      margin-bottom: 1em;
      padding-left: 1em; }
    .cards-container .card h3 {
      margin-top: 0.5em;
      margin-bottom: 0.4em; }
    .cards-container .card span {
      font-size: 1rem; }
    .cards-container .card i {
      position: absolute;
      font-size: 1.8rem;
      right: 1em; }

.location,
.location input {
  background-color: #eaeaea; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.3em;
  padding-bottom: 1em; }
  .location i {
    margin-right: 1em; }
  .location input {
    border: 0; }
    .location input::-webkit-input-placeholder {
      font-size: 1rem;
      color: black; }
    .location input:-ms-input-placeholder {
      font-size: 1rem;
      color: black; }
    .location input::-ms-input-placeholder {
      font-size: 1rem;
      color: black; }
    .location input::placeholder {
      font-size: 1rem;
      color: black; }

.discover {
  text-align: center; }
  .discover h2 {
    margin-left: 1.7em;
    margin-right: 1.7em; }
  .discover span {
    margin-left: 1.2em;
    margin-right: 1.2em;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 1.5em; }

.functioning ul li {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); }

.menu-img {
  position: relative;
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  margin: auto;
  margin-bottom: -3.5em;
  z-index: -1; }

.menu {
  border-radius: 50px 50px 0px 0px;
  padding-top: 3em;
  position: relative; }
  .menu h2 {
    font-size: 2rem;
    font-family: "Shrikhand-Regular"; }
  .menu i {
    position: absolute;
    font-size: 1.9rem;
    margin-top: 0.3em;
    right: -0.5em;
    margin-right: 2em; }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .menu ul li {
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 0em; }
      .menu ul li h3 {
        font-style: normal;
        font-weight: normal;
        margin: 0;
        margin-bottom: 0.2em; }
      .menu ul li hr {
        margin: 0;
        border: none;
        border-top: 0.3em solid #99e2d0;
        color: #99e2d0;
        width: 3em;
        margin-bottom: 1em; }
      .menu ul li ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .menu ul li ul li {
          -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
          background-color: #fffefe;
          margin-bottom: 1em;
          border-radius: 20px;
          position: relative;
          margin-left: 0em;
          padding-top: 1em;
          padding-bottom: 1em;
          padding-left: 1em;
          padding-right: 1em; }
          .menu ul li ul li h4 {
            font-size: 1.2rem;
            margin: 0;
            margin-bottom: 0.4em; }
          .menu ul li ul li span {
            font-style: normal;
            font-weight: normal;
            font-size: 1rem; }
            .menu ul li ul li span.price {
              position: absolute;
              right: 1.5em; }
/*# sourceMappingURL=main.css.map */