.location,
.location input {
  background-color: map-get($color, search);
}

.location {
  display: flex;
  justify-content: center;
  @include padding-top-bottom(1.3em, -0.3em);
  i {
    margin-right: 1em;
  }
  input {
    border: 0;
    &::placeholder {
      font-size: map-get($font-size, text);
      color: black;
    }
  }
}

$h2Margin: 1.7em;
$spanMargin: 1.2em;
.discover {
  text-align: center;

  h2 {
    @include margin-left-right($h2Margin);
  }

  span {
    @include margin-left-right($spanMargin);
    font-size: map-get($font-size, tallText);
    margin: 0;
    margin-bottom: 1.5em;
  }
}

.functioning{
  ul li{    
    @include box-shadow;
  }
}