.menu-img {
  position: relative;
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  margin: auto;
  margin-bottom: -3.5em;
  z-index: -1;
}

.menu {
  border-radius: 50px 50px 0px 0px;
  padding-top: 3em;
  position: relative;
  h2 {
    font-size: map-get($font-size, bigTitle);
    font-family: map-get($font, title);
  }
  i {
    position: absolute;
    font-size: 1.9rem;
    margin-top: 0.3em;
    right: -0.5em;
    margin-right: 2em;
  }

  ul {
    display: flex;
    flex-direction: column;
    li {
      @include padding-top-bottom(0);

      margin-left: 0em;
      h3 {
        @include font-normal();
        margin: 0;
        margin-bottom: 0.2em;
      }
      hr {
        margin: 0;
        border: none;
        border-top: 0.3em solid map-get($color, tertiary);
        color: map-get($color, tertiary);
        width: 3em;
        margin-bottom: 1em;
      }
      ul {
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 1em;
          border-radius: 20px;
          position: relative;
          margin-left: 0em;
        }
      }
    }
  }
}

.dish {
  @include box-shadow;
  background-color: map-get($color, back1);
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  gap: 0;
  h4 {
    font-size: map-get($font-size, tallText);
    margin: 0;
    margin-bottom: 0.4em;
  }
  span {
    @include font-normal();
    font-size: map-get($font-size, text);
  }

  overflow: hidden;

  transition: all 1000ms;

  &__description {
    @include padding-top-bottom(1em);
    @include padding-left-right(1em);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__price {
    padding-top: 3em;
    @include padding-left-right(0.5em);
    margin-left: auto;
    transition: all 700ms;
    transform: translateX(2em);
  }
  &__validate {
    background-color: map-get($color, tertiary);
    padding-top: 1.7em;
    @include padding-left-right(1em);
    transition: all 700ms;
    transform: translateX(4em);
    i {
      color: white;
      margin: 0;
      position: static;
    }
  }

  &:hover {
    .dish__price {
      transform: translateX(0);
    }
    .dish__validate {
      transform: translateX(0);
    }
  }
}
