section {
  @include padding-top-bottom (3em);
  @include padding-left-right (1em);
  display: flex;
  flex-direction: column;
  h2 {
    @include margin-top-bottom (0, 0.5em);
    font-size: map-get($font-size, title);
  }
}
