@mixin margin-top-bottom($size, $dif: 0) {
  margin-top: $size;
  @if $dif!= 0 {
    margin-bottom: $size + $dif;
  } @else {
    margin-bottom: $size;
  }
}

@mixin margin-left-right($size, $dif: 0) {
  margin-left: $size;
  @if $dif!= 0 {
    margin-right: $size + $dif;
  } @else {
    margin-right: $size;
  }
}

@mixin padding-top-bottom($size, $dif: 0) {
  padding-top: $size;

  @if $dif!= 0 {
    padding-bottom: $size + $dif;
  } @else {
    padding-bottom: $size;
  }
}

@mixin padding-left-right($size, $dif: 0) {
  padding-left: $size;

  @if $dif!= 0 {
    padding-right: $size + $dif;
  } @else {
    padding-right: $size;
  }
}

@mixin font-normal() {
  font-style: normal;
  font-weight: normal;
}

@mixin box-shadow{  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}