$color: (
  primary: #9356dc,
  secondary: #ff79da,
  tertiary: #99e2d0,
  search: #eaeaea,
  back1: #fffefe,
  back2: #f6f6f6,
);

$font: (
  title: "Shrikhand-Regular",
  text: "Roboto-Medium",
);

$font-size: (
  title: 1.8rem,
  bigText: 1.4rem,
  text: 1rem,
);
